#a1{
    font-size: 25px;
    color:white;
    height: 65px;
    background-color:#0f1111;
}
#a2{
    color: #f08804;
}
#s2{
    background-color:#f08804;
    color:white
}
a{
    margin-right: 200px;
    color: white;
    text-decoration: none;
}
